.event {
  margin-right: 25px;
  width: 500px; }
  .event h3 {
    font-size: 1.2em;
    margin: 0.3em 0; }
  .event h4 {
    font-style: italic;
    color: #666;
    font-size: 1.0em;
    margin: 0; }
