header {
  flex-shrink: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: #0c84a9;
  color: white; }
  header a {
    text-decoration: none;
    color: white; }
    header a:hover {
      cursor: pointer;
      color: orange; }
  header nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    header nav .main {
      text-transform: uppercase;
      padding: 0 40px;
      text-align: center;
      font-size: 1.2em; }
    header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    header nav li {
      margin: 2px 20px; }
      header nav li.active a {
        font-weight: bold; }
    header nav .navigator {
      display: none; }
  header .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    header .profile .menu {
      flex-direction: row;
      order: 2; }
      header .profile .menu .button {
        display: flex;
        align-items: flex-end; }
        header .profile .menu .button:hover {
          cursor: pointer;
          color: orange; }
          header .profile .menu .button:hover .pic {
            border-color: orange; }
  header .pic {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #fff;
    margin: 0 3px; }
  header .drop-down {
    font-size: 0.6em; }
  header .schedule {
    order: 1;
    font-size: 1.2em;
    margin: 0 15px; }

@media (min-width: 601px) and (max-width: 1000px) {
  header nav .main {
    display: none; } }

@media (max-width: 600px) {
  header nav .main {
    display: none; }
  header nav li {
    display: none; }
    header nav li.active {
      display: inline-block; }
  header nav .navigator {
    display: inline-block; } }
