.site header {
  flex-shrink: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: #0c84a9;
  color: white; }
  .site header a {
    text-decoration: none;
    color: white; }
    .site header a:hover {
      cursor: pointer;
      color: orange; }
  .site header nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    .site header nav .main {
      text-transform: uppercase;
      padding: 0 40px;
      text-align: center;
      font-size: 1.2em; }
    .site header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .site header nav li {
      margin: 2px 20px; }
      .site header nav li.active a {
        font-weight: bold; }
    .site header nav .navigator {
      display: none; }
  .site header .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .site header .profile .menu {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      order: 2; }
      .site header .profile .menu:hover {
        cursor: pointer;
        color: orange; }
        .site header .profile .menu:hover .pic {
          border-color: orange; }
  .site header .pic {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #fff;
    margin: 0 3px; }
  .site header .drop-down {
    font-size: 0.6em; }
  .site header .schedule {
    order: 1;
    font-size: 1.2em;
    margin: 0 15px; }

@media (min-width: 601px) and (max-width: 1000px) {
  .site header nav .main {
    display: none; } }

@media (max-width: 600px) {
  .site header nav .main {
    display: none; }
  .site header nav li {
    display: none; }
    .site header nav li.active {
      display: inline-block; }
  .site header nav .navigator {
    display: inline-block; } }
